<p><b>search result address: <%=@thpaddress.last.address%> | coordinates: <%= @thp %></b></p>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Station</th>
      <th scope="col">Free bikes</th>
      <th scope="col">Empty slots</th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>
  <tbody>
    <% @closeststations.each do |near|%>
    <tr>
      <td><%= near.name %></td>
      <td class="text-danger"><%= near.free_bikes %></td>
      <td><%= near.empty_slot %></td>
      <td><%= near.latitude %></td>
      <td><%= near.longitude %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<!-- <table class="table">
  <thead>
    <tr>
      <th scope="col">Station</th>
      <th scope="col">Free bikes</th>
      <th scope="col">Empty slots</th>
      <th>latitude</th>
      <th>longitude</th>
    </tr>
  </thead>
  <tbody>
    <%# @result.each do |near|%>
    <tr>
      <td><%# near.name %></td>
      <td class="text-danger"><%# near.free_bikes %></td>
      <td><%# near.empty_slot %></td>
      <td><%# near.latitude %></td>
      <td><%# near.longitude %></td>
    </tr>
    <%# end %>
  </tbody>
</table> -->