<div class="form-group row">
  <%= form_tag locations_path, :method => :get, class:"form-inline" do %>
    <div class="ml-3">
      <%= text_field_tag :search, params[:search], class:"form-control" %>
      <%= submit_tag "Search Near", :name => nil, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if params[:search].present? == false %>
  <p align="center"><b> Default address: <%=@thpaddress.last.address%> | Coordinates: <%= @thp %></b></p>
<% end %>