<div id="map"></div>
<p><a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a></p>
<script>
  var map = L.map('map').setView(
    <% if params[:search].present? %>
      <%= @result %>, 16
    <% else %>
      <%= @thp %>, 16
    <% end %>
  );

  L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=8iUrAXD3o6WiO2JBLrr3',{
    tileSize: 512, 
    zoomOffset: -1,
    minZoom: 1,
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
    crossOrigin: true
  }).addTo(map);

  var marker = L.marker(<%= @thp %>).addTo(map);
  marker.bindPopup("<b>Thp's Offices</b>").openPopup();
</script>

<% @locations.each_with_index do |location|%>
  <script>
    var marker<%=location.id%> = L.marker([<%= location.latitude%>, <%= location.longitude%>]).addTo(map);
    marker<%=location.id%>.bindPopup('<%= location.name %><br><%= location.free_bikes %> Bike(s) - <%= location.empty_slot %> Place(s)').openPopup();
  </script>
<% end %> 