<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div class="form-group row">
  <%= form_tag locations_path, :method => :get, class:"form-inline" do %>
    <div class="ml-3">
      <%= text_field_tag :search, params[:search], class:"form-control" %>
      <%= submit_tag "Search Near", :name => nil, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if params[:search].present? == false %>
  <p><b>search result address: <%=@thpaddress.last.address%> | coordinates: <%= @thp %></b></p>
<% end %>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Stations</th>
      <th scope="col">Free Bikes</th>
      <th scope="col">Empty Slot</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td class="text-danger"><%= location.free_bikes %></td>
        <td><%= location.empty_slot %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>