<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<div class="form-group row">
  <%= form_tag locations_path, :method => :get, class:"form-inline" do %>
    <div class="ml-3">
      <%= text_field_tag :search, params[:search], class:"form-control" %>
      <%= submit_tag "Search Near", :name => nil, class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

<% if params[:search].present? == false %>
  <p><b>search result address: <%=@thpaddress.last.address%> | coordinates: <%= @thp %></b></p>
<% end %>

<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Stations</th>
      <th scope="col">Distance</th>
      <th scope="col">Free Bikes</th>
      <th scope="col">Empty Slot</th>
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= mi_to_m(location.distance) %> meters</td>
        <td class="text-danger"><%= location.free_bikes %></td>
        <td><%= location.empty_slot %></td>
        <td><%= location.latitude %></td>
        <td><%= location.longitude %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div id="map"></div>
<p><a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a></p>
<script>
  var map = L.map('map').setView(
    <% if params[:search].present? %>
      <%= @result %>, 16
    <% else %>
      <%= @thp %>, 16
    <% end %>
  );

  L.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=8iUrAXD3o6WiO2JBLrr3',{
    tileSize: 512, 
    zoomOffset: -1,
    minZoom: 1,
    attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">© MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">© OpenStreetMap contributors</a>',
    crossOrigin: true
  }).addTo(map);
  
  var marker = L.marker(<%= @thp %>).addTo(map);
  marker.bindPopup("<b>Thp's Offices</b>").openPopup();
</script>

<% @locations.each_with_index do |location|%>
  <script>
    var marker<%=location.id%> = L.marker([<%= location.latitude%>, <%= location.longitude%>]).addTo(map);
    marker<%=location.id%>.bindPopup('<%= location.name %><br><%= location.free_bikes %> Bike(s) - <%= location.empty_slot %> Place(s)').openPopup();
  </script>
<% end %> 